@model DashboardViewModel

@{ 
    List<string> backGroundColourList = new List<string>() {
                        "rgba(255, 99, 132, 0.2)",
                        "rgba(54, 162, 235, 0.2)",
                        "rgba(255, 206, 86, 0.2)",
                        "rgba(75, 192, 192, 0.2)",
                        "rgba(153, 102, 255, 0.2)",
                        "rgba(52, 235, 88, 0.2)",
                        "rgba(217, 52, 235, 0.2)",
                        "rgba(255, 159, 64, 0.2)",
                        "rgba(52, 235, 232, 0.2)",
                        "rgba(191, 10, 10, 0.2)",
                        "rgba(70, 219, 242, 0.2)",
                        "rgba(118, 94, 214, 0.2)"
    };
    List<string> borderColourList = new List<string>() {
                        "rgba(255, 99, 132, 1)",
                        "rgba(54, 162, 235, 1)",
                        "rgba(255, 206, 86, 1)",
                        "rgba(75, 192, 192, 1)",
                        "rgba(153, 102, 255, 1)",
                        "rgba(52, 235, 88, 1)",
                        "rgba(217, 52, 235, 1)",
                        "rgba(255, 159, 64, 1)",
                        "rgba(52, 235, 232, 1)",
                        "rgba(191, 10, 10, 1)",
                        "rgba(70, 219, 242, 1)",
                        "rgba(118, 94, 214, 1)" 
    };

}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.1/chart.min.js"></script>

<h1>Workout Plans:</h1>

@for (int i = 0; i < Model.WorkoutPlans.Count; i++)
{

    @Html.ActionLink(Model.WorkoutPlans[i].WorkoutQuestion.WorkoutName, "Index", "Workout", new { workoutId = Model.WorkoutPlans[i].WorkoutPlanId }, new { @class = "btn btn-secondary" })

    var idName = "myChart" + i;

    string weekNumberLableSet = "";
    string calorieLableSet = "";
    string backgroundColourSet = "";
    string borderColourSet = "";


    for (int j = 0; j < Model.WorkoutPlans[i].WorkoutWeek.Count; j++)
    {
        weekNumberLableSet += "'Week " + (j + 1) + "',";
        calorieLableSet += Model.WorkoutPlans[i].WorkoutWeek[j].CaloriesConsumed + ",";
        backgroundColourSet += "'" + backGroundColourList[j] + "',";
        borderColourSet += "'" + borderColourList[j] + "',";
    }

    weekNumberLableSet = weekNumberLableSet.TrimEnd(',');
    calorieLableSet = calorieLableSet.TrimEnd(',');
    backgroundColourSet = backgroundColourSet.TrimEnd(',');
    borderColourSet = borderColourSet.TrimEnd(',');


    <canvas id="@idName" style="max-width: 500px;"></canvas>
    <script>
        var ctx = document.getElementById("@idName").getContext('2d');
                var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
    labels: [@Html.Raw(weekNumberLableSet)], //weeks
                datasets: [{
        label: '# of Calories Consumed',
                    data: [@Html.Raw(calorieLableSet)], // calories
                    backgroundColor: [
                    @Html.Raw(backgroundColourSet)
                    ],
                    borderColor: [
                        @Html.Raw(borderColourSet)
                    ],
                    borderWidth: 1
                }]
            },
            options: {
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
                        }
            }]
                }
    }
});

    </script>


}


