@using SmartPTUI.Data.DomainModels
@model WorkoutWeek

<h2>Workout Days:</h2>
@for (int j = 0; j < Model.Workout.Count; j++)
{
    <p>@Html.ActionLink("Workout Day " + (j + 1), "WorkoutSession", "Workout", new { id = Model.Workout[j].WorkoutSessionId })</p>
}

<form asp-controller="Workout" asp-action="SubmitWorkoutWeek">

    @Html.HiddenFor(x => x.WorkoutWeekId)
    @Html.HiddenFor(x => x.isCompletedWorkoutWeek)
    @Html.HiddenFor(x => x.WorkoutPlan.WorkoutPlanId)


    @if (!Model.isCompletedWorkoutWeek)
    {
        <div class="form-group ">
            @Html.LabelFor(m => m.CaloriesConsumed)
            @Html.TextBoxFor(m => m.CaloriesConsumed, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CaloriesConsumed, null, new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    }

</form>

@Html.ActionLink("Back", "Index", "Workout", new { workoutId = Model.WorkoutPlan.WorkoutPlanId }, new { @class = "btn btn-secondary" })

@if (Model.isCompletedWorkoutWeek)
{
    <h3>Workout Week Complete</h3>
}
else
{
    <h3> Workout Week Incomplete</h3>
}
