@using Microsoft.AspNetCore.Identity;
@using SmartPTUI.Areas.Identity.Data;
@using SmartPTUI.ContentRepository;

@inject UserManager<AppUser> _userManager
@inject ICustomerRepository _customerRepo

@{
    var customStyling = new CustomStylingModel();
    try
    {
        var user = await _userManager.GetUserAsync(this.User);
        var customer = await _customerRepo.GetCustomerById(user.Id);      

        var ptId = customer.PersonalTrainer.Id;
        var pt = await _customerRepo.GetPTById(ptId);

        customStyling.BackgorundColour = pt.BackgorundColour;
        customStyling.TextColour = pt.TextColour;
        customStyling.TitleColour = pt.TitleColour;
        customStyling.TopBarColour = pt.TopBarColour;
        customStyling.SiteName = pt.SiteName;
        customStyling.WelcomeMessage = pt.WelcomeMessage;
    }
    catch (Exception e) {
        customStyling.BackgorundColour = "#ffffff";
        customStyling.TextColour = "#000000";
        customStyling.TitleColour = "#000000";
        customStyling.TopBarColour = "#ffffff";
        customStyling.SiteName = "Base Site";
        customStyling.WelcomeMessage = "Hello";




    }


}

@await Html.PartialAsync("CustomStyling.cshtml", customStyling)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @customStyling.SiteName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@customStyling.SiteName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="WorkoutQuestionnaire" asp-action="Index">Start Workout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SmartPTUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
