@using SmartPTUI.Business.ViewModels;
@model QuestionnaireViewModel

@{ 
    const string formCssClass = "form-control";
}

<form asp-controller="WorkoutQuestionnaire" asp-action="SubmitForm">
    @Html.HiddenFor(m => m.Customer.FirstName)
    @Html.HiddenFor(m => m.Customer.LastName)
    @Html.HiddenFor(m => m.Customer.Gender)
    @Html.HiddenFor(m => m.Customer.DOB)
    @Html.HiddenFor(m => m.Customer.Height)

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.CurrentHealth)
        @Html.DropDownListFor(m => m.Customer.CurrentHealth, Html.GetEnumSelectList(Model.Customer.CurrentHealth.GetType()), "Select Current Health Level", new { @class = formCssClass })
        @Html.ValidationMessageFor(m => m.Customer.CurrentHealth)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.WorkoutQuestion.StartWeight);
        @Html.TextBoxFor(m => m.WorkoutQuestion.StartWeight, new { @class = formCssClass })
        @Html.ValidationMessageFor(m => m.WorkoutQuestion.StartWeight)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.WorkoutQuestion.EndWeight);
        @Html.TextBoxFor(m => m.WorkoutQuestion.EndWeight, new { @class = formCssClass })
        @Html.ValidationMessageFor(m => m.WorkoutQuestion.EndWeight)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.WorkoutQuestion.Goal)
        @Html.DropDownListFor(m => m.WorkoutQuestion.Goal, Html.GetEnumSelectList(Model.WorkoutQuestion.Goal.GetType()), "Select Current Health Level", new { @class = formCssClass })
        @Html.ValidationMessageFor(m => m.WorkoutQuestion.Goal)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.WorkoutQuestion.DaysPerWeek);
        @Html.TextBoxFor(m => m.WorkoutQuestion.DaysPerWeek, new { placeholder = "Placeholder", @class = formCssClass })
        @Html.ValidationMessageFor(m => m.WorkoutQuestion.DaysPerWeek)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.WorkoutQuestion.TimePerWorkout);
        @Html.TextBoxFor(m => m.WorkoutQuestion.TimePerWorkout, new { @class = formCssClass })
        @Html.ValidationMessageFor(m => m.WorkoutQuestion.TimePerWorkout)
    </div>
    @{

    }
    <button type="submit" class="btn btn-primary">Submit</button>

</form>